# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: geomorfo/jekyll
    ports:
      - 8090:8090
      - 35730:35730
    volumes:
      - .:/srv/jekyll
    environment:
      - JEKYLL_ENV=development

build:
  image: geomorfo/jekyll
  