{% if include.type.size > 0 and include.title.size > 0 and (include.body.size > 0 or include.content) %}
{% assign types = "note, abstract, info, tip, success, question, warning, failure, danger, bug, example, quote" | split: ", " %}
{% if types contains include.type %}
<div class="admonition {{ include.type }}">
<p class="admonition-title">{{ include.title }}</p>
{% if include.content %}
<div class="admonition-body">
{% capture content %}
{% endcapture %}
{% include {{ include.content }} %}
{{ content  }}
</div>
{% else %}
<div class="admonition-body">
{{ include.body }}
</div>
{% endif %}
</div>
{% endif %}
{% endif %}
